:root {
    --bs-blue-default: #3992e5;
    --cl-blue-default: #0b78d6;
}

.content {
    padding-top: 90px;
    overflow: hidden;
}

.header_top {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    background: none;
    color: #145a8d;
    text-transform: uppercase;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    /* padding-bottom: 5px; */
    margin-top: 10px;
    padding-bottom: 10px;
}

.container_left {
    float: left;
    width: 50%;
    padding-left: 12px;
}

.container_right {
    float: right;
    width: 50%;
}

.header_center {
    text-transform: uppercase;
    font-size: 17px;
    color: var(--cl-blue-default);
    margin: 0;
    padding: 2px 2px 10px;
    background-color: #fff;
}

.obligatory {
    color: red;
    font-weight: 700;
}

form {
    margin-top: 12px;
    padding-right: 12px;
    border-right: 1px solid #ebebeb;
}

.bnt_sumit {
    float: right;
    width: 250px;
    padding: 6px;
    background-color:red;
    border: none;
    color: #fff;
    margin-bottom: 36px;
}

.bnt_sumit:hover {
    opacity: 0.8;
    cursor: pointer;
}

label {
    font-weight: 600;
    font-size: 15px;
}

.input{
    position: relative;
    margin-bottom: 1rem;
}
.input label{
    margin-bottom: 5px;
}
.input input{
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}

input:focus {
    outline: #5ab9ef;
}
.success input, .success select{
    border-color: #5ab9ef;
}
.error input, .error select{
    border-color: #ed2917;
}
.input i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.success i.fa-circle-check{
    color: #2ecc71;
    visibility: visible;
}
.error i.fa-circle-xmark{
    color: #ed2917;
    visibility: visible;
}
.input small{
    font-size: 12px;
    visibility: hidden;
    position: absolute;
    bottom: -16px;
    left: 0;
}
.error small{
    color: #ed2917;
    visibility: visible;
}



/* container_right */
.container_right {
    padding: 0 12px;

}

.header-code_sale {
    border-bottom: 1px solid var(--cl-blue-default);
    color: var(--cl-blue-default);
    margin-bottom: 10px;
    padding: 36px 2px 10px;
    display: inline-block;
    font-size: 18px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.code_sale {
    font-size: 12px;
}

.dr_button {
    padding: 8px 10px;
    font-size: 13px;
    border: none;
    color: #fff;
    background-color: var(--cl-blue-default);
}

.order_header {
    border-bottom: 1px solid var(--cl-blue-default);
    color: var(--cl-blue-default);
    margin-bottom: 10px;
    padding: 2px 2px 10px;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-top: 28px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container_order {
    background-color: #f8f8f8;
    overflow: hidden;
}

.container_order .wrap_oder {
    padding: 24px 12px;
}

.container_order .title {
    font-size: 16px;
}
.container_order .wrap {
    display: flex;
}

.fs_s{
    font-size: 12px;
}

.wrap_left {
    float: right;
    display: flex;
    flex-direction: column;
}

.mt {
    margin: 4px 0;
}

.ml{
    margin-left: 6px;
}
.container_order #bt-update_order {
    width: 100%;
    background-color: var(--cl-blue-default);
    color: #fff;
    border: none;
    padding: 4px;
    margin-top: 12px;
}


@media only screen and (max-width: 780px) {
    .container_left {
        width: 100%;
        padding-left: 12px;
    }

    .container_right {
        width: 100%;
    }
}
