* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

span {
    display: inline-block;
}

p {
    text-align: left;
}

a:hover {
    text-decoration: none;
    color: initial;
}

ul, li {
    list-style-type: none;
}

.abovefooter {
    margin-top: 24px;
}

.conainer_footer {
    background-color: #f2f2f2;
}

.ptthanhtoan {
    width: 200px;
}

footer {
    /* position: relative; */
}

footer .row a {
    text-decoration: none;
    display: block;
    color: black;
    transition: 0.3s;
    padding-bottom: 5px;
    font-size: 14px;
}

footer .row a:hover {
    color:  #F5A623;
}

footer .header {
    font-size: 14px;
    margin-bottom: 13px;
}
/* het css cho footer  */


@media (max-width:767px){
    .navbar form .input-group{
        width: 100%!important;

    }

    .navbar ul li a.nav-link{
        margin-left:0.25rem!important;
    }

    .navbar ul li.account{
        border-top: 1px dashed #279726;
        border-bottom: 1px dashed #279726;
        padding-bottom: 0.5rem;
        margin-bottom: 0.25rem;
    }
    .navbar ul li.giohang{
        border-bottom: 1px dashed #279726;
        padding-bottom: 0.5rem;
        margin-right:8px;
    }
    .categorycontent{
        display: none;
    }
}
/* css cho tab labs */
.formdanhgia .nutguibl {
    border: 1px solid #F7A623;
    color: #F7A623;
    width: 60%;
    font-weight: 500;
}

.formdanhgia .nutguibl:hover {background: #F7A623;color: white;}

.formdanhgia .form-group input {padding: 6px 15px;font-size: 14px;border: 1px solid #d7d2d2;}

.formdanhgia .danhgiacuaban {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.formdanhgia .tieude {
    font-size: 17px!important;
}

.btn.vietdanhgia {border: 1px solid #F7A623;color: #F7A623;padding: 7px 20px;}

.btn.vietdanhgia:hover {
    color: white;
    background: #F7A623;
}

.tiledanhgia .motthanh {
    margin-bottom: 8px;
}

#nav-danhgia .tiledanhgia {
    margin-top: 53px;
}

.motthanh i.fa.fa-star {margin-left: 6px;color: #a5a5a5;}

.progress {
    width: 80%;
    height: 10px;
}

#nav-danhgia p.sonhanxet {
    font-size: 13px;
}

#nav-danhgia .sao i.fa.fa-star {
    color: #d1cccc;
}

#nav-danhgia .diem {
    font-size: 45px;
    color: red;
    font-weight: bold;
}

.product-description #nav-danhgia p.tieude {
    margin: 20px 0px 0px 0px;
}

.product-description h6.tieude {
    margin-top: 22px;
    font-size: 18px;
}

.product-description .nav-tabs a {
    color: gray;
    margin-right: 7px;
    border-radius: 0;
    font-size: 14px;
}

.product-description .nav-tabs .nav-item.active {
    color: black;
    border-top: 4px solid #F5A623;
}

.product-description {
    margin-left: 9px;
}

.formdanhgia .rating input{
    display: none;
    
}

.formdanhgia .rating label{
    display: block;
    cursor: pointer;
    width: 15px;
}

.formdanhgia .rating label::before{
    content: '\f005';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 15px;
    color: rgb(187, 186, 186);
}

.formdanhgia .rating label::after{
    content: '\f005';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    position: absolute;
    display: block;
    font-size: 15px;
    color: #F7A623;
    top:350px;
    opacity: 0;
    transition: 0.2s;
}

.formdanhgia .rating label:hover::after,
.formdanhgia .rating label:hover ~ label::after,
.formdanhgia .rating input:checked ~ label::after{
    opacity: 1;
}

.dichvu p.detail {
    font-size: 12px;
    margin-bottom: 1px;
    width: 198px;
}

.dichvu {
    padding: 24px 0px 24px;
}

.dichvu h3.tieude {
    font-size: 14px;
    margin-bottom: 3px;
}

.dichvu .noidung {
    width: 200px;
}

.dichvu img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 10px;
}

.fixed-bottom {
    /* position: absolute; */
    bottom: 32px;
    z-index: 10;
}   


