:root {
    --bs-blue-default: #3992e5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

span {
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: initial;
}

p {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

#content {
    padding-top: 90px;
}

#breadcrumbbar {
    height: 40px;
    width: 100%;
}

#breadcrumbbar .breadcrumb {
    height: 40px;
    background-color: white;
    list-style: none;
}

.breadcrumb .breadcrumb-item {
    display: inline;
    font-size: 14px;
}

.breadcrumb li+li:before {
    padding: 0px;
    color: black;
    content: "/\00a0";
}

.breadcrumb li a {
    color: var(--bs-blue-default);
    text-decoration: none;
}

.breadcrumb li a:hover, .breadcrumb li a:active {
    color: #01447e;
    text-decoration: underline;
    font-family: Arial;
}

.wrapper {
    background-color: #f2f2f2;
    width: 100%;
    margin-bottom: 24px;
}

.wrapper h1 {
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    padding: 10px;
    width: 100%;
}

.content_container h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 24px;
}
